*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}



.bg1{
    background-color: rgb(98,176,241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
.bg-login{
    display: flex;
    width: 50vw;
    height: 50vh;
}

.imagem-lado{
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px ;
    background-color: rgb(220,236,252);
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
h1{
    text-align: center;
    margin: 20px 0;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
    background-color: white;
    height: 100%;
    width: 40%;
}
form{
    height: 130px;
    max-width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
input{
    height: 25px;
}



    